@import "tailwindcss";

@theme {
  /* Brand Colors */
  --color-brand-light-bg: #f6fff8;
  --color-brand-light-text: #212529;
  --color-brand-light-btn: #3c6e71;

  --color-brand-dark-bg: #495057;
  --color-brand-dark-text: #eaf4f4;
  --color-brand-dark-btn: #cce3de;
}

/* THEME ENGINE */
:root {
  --bg-color: white;
  --text-color: #212529;
}

.dark {
  --bg-color: black;
  --text-color: #eaf4f4;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  transition: all 0.3s ease;
  min-height: 100vh;
}

/* Ensure all text inherits the theme color */
h1, h2, h3, h4, h5, h6, p, span, div {
  color: inherit;
}